* {
    margin: 0;
    padding: 0;
}
html, body {
    min-height: 100%;
    height: 100%;
}

body {
    background: #6ac0bd;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.animator {
    position: relative;
    width: 200%;
    height: 100%;
    overflow: hidden;
    
}

.animator img {
    display: inline-block;
    margin: 0;
    height: 100%;
    width: auto;
    float: left;
}

#loons {
    background: url('loons.svg');
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}